  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} 

  .container {
    background: #d7c0c0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(33, 27, 27, 0.1);
    width: 300px;
} 

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
}

form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

form button {
    padding: 10px;
    border: none;
    background: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

form button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

ul li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

ul li button {
    background: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

ul li button:hover {
    background: #c82333;
} 